@font-face {
    font-family: "Vazir";
    src: url(font/vazir-font-v16.1.0/Vazir.eot);
    src: url(font/vazir-font-v16.1.0/Vazir.woff2) format("woff2"),
        url(font/vazir-font-v16.1.0/Vazir.woff) format("woff"),
        url(font/vazir-font-v16.1.0/Vazir.ttf) format("truetype");
}

body {
    font-family: "Vazir" !important;

    .boxi {
        color: #0d6efd;
        background-color: lightgray;
        display: inline-flex;
        padding: 15px;
        border-radius: 15px;
    }

    .cadr {
        background: #c0c0c0;
    }

    .cart {
        background-color: #1b2a4e !important;
    }

    .dokme {
        background-color: #1b2a4e !important;
        color: white;
    }

    .add {
        text-decoration: none;
        color: black;
    }

    .add:hover{
      color: #0d6efd;
    }
    .headerfooter{
        border-bottom: 2px solid black;
        height: 40px;
    }
}